<button (click)="openAdd()"> + Aggiungi un documento</button>

<div class="add-content" *ngIf = "selezione !== false">
  <app-input label="Titolo" [type]="'text'"(inputValue)="title = $event"></app-input><br>
  <app-input label="Autore" [type]="'text'"(inputValue)="author = $event"></app-input> <br>
  <app-input label="ID" [type]="'number'"(inputValue)="position = $event" ></app-input> <br>
<button (click)="addBook()"><span class="material-symbols-outlined" id="open" >
  add_circle
  </span></button>   <button (click)="closeAdd()"><span class="material-symbols-outlined" id="close">
    close
    </span>  </button>

<p *ngIf = "selezione2 !== false">Documento aggiunto con successo!
</p>
<p *ngIf = "selezione3 !== false" id="mancanti"> IMPOSSIBILE AGGIUNGERE IL DOCUMENTO<br>Controlla di aver riempito tutti i campi o di non aver inserito un ID già in uso
</p>
</div>