<button (click)="openAdd()"> + Aggiungi un documento</button>

<div class="add-content" *ngIf = "selezione !== false">
  <app-input label="Titolo" (inputValue)="title = $event"></app-input><br>
  <app-input label="Autore" (inputValue)="author = $event"></app-input> <br>
  <app-input label="Posizione" (inputValue)="position = $event" ></app-input> <br>
<button (click)="addBook()"><span class="material-symbols-outlined" >
  add_circle
  </span></button>   <button (click)="closeAdd()"><span class="material-symbols-outlined">
    close
    </span>  </button>

<p *ngIf = "selezione2 !== false">Documento aggiunto con successo!   <button (click)="closeMessage()"> Esci </button>
</p>
<p *ngIf = "selezione3 !== false"> Impossibile aggiungere il documento, sono presenti campi vuoti<button (click)="closeMessage()"> Esci </button>
</p>
</div>