
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4F4F4F;
  text-align: left;
  font-weight: bold;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #4F4F4F;  

}
#open{
  font-size: 30px;
  color: green;
}
#close{
  font-size: 30px;
  color: red;
}

.add-content{
  text-align: center;}