table{
  font-family: 'Courier New', Courier, monospace;
  color: #A0522D;
}
p{
  font-family: 'Courier New', Courier, monospace;
  color: #A0522D;
  text-align: left;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}