
p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #A0522D;
  text-align: left;
  font-weight: bold;
}
button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color: #A0522D;  

}

.material-symbols-outlined{
  font-size: 35px;
}

.add-content{
  height: 100px;
  width: 50%;
  text-align: left;
  line-height: 50px; /* verticale */
}