h1, h2 {
  margin-top: 0px;
  padding-top: 0px;

  color: #404040	;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
}
.content {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #a0522d;
  font-weight: bold;
}
