#prestito{
  font-size: 20px;
  color: #008000	;  
}
#restituisci{
  font-size: 20px;
  color: black;
}
#mancanti{
  color:red;
  font-family: Arial, Helvetica, sans-serif;
}
button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}