<button (click)="openLoan()" class="button1" *ngIf="!isBorrowed  " >
  <span class="material-symbols-outlined" > menu_book </span></button>
<p *ngIf = "selezionata !== false"> Vuoi prendere in prestito questo libro? <br>
  Per continuare devi inserire alcuni dati:<br> 
  <app-input label="Nome e cognome" (inputValue)="borrower = $event"> </app-input>
  <button (click)="loanDocuments()"> Procedi </button>  
  <button (click)="closeLoan()">Annulla </button>
</p>

<button *ngIf= " isBorrowed "><span class="material-symbols-outlined">
  redo
  </span>
  </button> 



