<div>
  <app-input label="Cerca" [type]="'text'" (inputValue)="searchDocuments($event)"></app-input>
</div>
<p *ngIf="message">{{ message }}</p>
<p *ngIf= "searchResults.length !== 0">
  Documenti trovati: {{searchResults.length}}
</p>
<ul>
  <li *ngFor="let document of searchResults">
    ID {{ document.position }} - Titolo: {{ document.title }} - Autore:
    {{ document.author }} - Prestito: {{ document.borrower }}
    
    <app-delete [document]="document" (updateDocument)="update($event)">
    </app-delete>

    <app-loan [isBorrowed]="document.borrower != 'disponibile' ? true : false" [documentId]="document.position" (updateDocument)="update($event)">
    </app-loan> 
    
  </li>
</ul>
