p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4F4F4F;
  text-align: center;
}
ul {
  list-style-type: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #5F5F5F;
  text-align: center;
  font-size: 12px;


}