<p>Ricerca documento</p>
<div>
  <app-input label="Cerca" (inputValue)="search($event)"></app-input>
</div>

<ul>
  <li *ngFor="let document of searchResults">
    ID {{ document.position }} - Titolo: {{ document.title }} - Autore: {{ document.author }} - Prestato a: {{ document.borrower}}
    <br>
    <app-delete [document]="document"></app-delete> 
    <button (click)="selezionaLoan()"><span class="material-symbols-outlined" > menu_book </span></button>

     <app-loan *ngIf = "selezionata !== false"></app-loan>
  
  </li>
</ul>
